<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/Integration/HealthBackgroundWorker.cs</ExcludeByFile>
          <Exclude>[xunit.*]*</Exclude>
          <IncludeDirectory>/workspace/src/Package.HealthCheck</IncludeDirectory>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>